<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Deu Pet - Detalhes do Perfíl</title>
</head>
<body>

<div layout:fragment="body">

  <div class="page-header">
    <h3 class="page-title"> Perfíl </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes do Perfíl</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="border-bottom text-center pb-4">
                <img src="/resources/images/faces/face1.jpg" alt="profile" class=" mw-100 rounded mb-3">

              </div>

              <div class="col-lg-8">
                <div class="d-flex justify-content-between">
                  <div>
                    <h3>Sociedade Protetora dos Animais</h3>
                    <div class="d-flex align-items-center">
                      <h5 class="mb-0 mr-2 text-muted">Santa Rita do Sapucaí - MG </h5>
                    </div>
                    <div class="d-flex align-items-center">
                      <h5 class="mb-0 mr-2 text-muted">Brasil</h5>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-8 mt-5 ">
                <div class="d-flex justify-content-between mb-1">
                  <button class="btn btn-sm btn-gradient-primary btn-block">Alterar Imagem</button>
                </div>
                <div class="d-flex justify-content-between mb-1">
                  <button class="btn btn-sm btn-gradient-primary btn-block"
                          onclick="showExample()">Alterar Senha
                  </button>
                </div>
                <div class="d-flex justify-content-between mb-1">
                  <button class="btn btn-sm btn-gradient-primary btn-block">Solicitar Alteração de Dados</button>
                </div>
              </div>


            </div>

            <div class="col-lg-6">
              <div class="py-4">
                <div class="border-bottom">
                  <p class="clearfix">
                    <span class="float-left"> Situação </span>
                    <span class="float-right text-muted"> ativo </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left"> Data de Criação </span>
                    <span class="float-right text-muted"> 01/10/2022 </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left"> CNPJ/CPF </span>
                    <span class="float-right text-muted"> 00.000.000/0001-00 </span>
                  </p></div>
                <div class="border-bottom">
                  <p class="card-description"> Informações de Contato </p>
                  <p class="clearfix">
                    <span class="float-left"> E-mail </span>
                    <span class="float-right text-muted"> socproanimais@mail.com </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left"> Telefone/Celualar </span>
                    <span class="float-right text-muted"> (35) 9 9999-9999 </span>
                  </p>
                </div>
                <p class="card-description"> Endereço </p>
                <p class="clearfix">
                  <span class="float-left"> Logradouro </span>
                  <span class="float-right text-muted"> Rua Esperança </span>
                </p>
                <p class="clearfix">
                  <span class="float-left"> Número </span>
                  <span class="float-right text-muted"> 70 </span>
                </p>
                <p class="clearfix">
                  <span class="float-left"> CEP </span>
                  <span class="float-right text-muted"> 37540-000 </span>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>

<script>
window.showExample = () => {
new swal({
  title: 'Alterar senha',
  icon: 'warning',
  html: `<span class="float-left"> Nova senha </span>
         <input type="password" id="newPassword" class="swal2-input" placeholder="Nova senha">
         <span class="float-left"> Confirmar senha </span>
         <input type="password" id="confirmNewPassword" class="swal2-input" placeholder="Confirmar senha">`,
  buttonsStyling: false,
  confirmButtonText: 'Alterar',
  cancelButtonText: 'Cancelar',
  showCancelButton: true,
  customClass: {
    confirmButton: "btn btn-primary",
    cancelButton: "btn btn-danger",
  },
  focusConfirm: false,

  preConfirm: () => {
    const newPassword = Swal.getPopup().querySelector('#newPassword').value
    const confirmNewPassword = Swal.getPopup().querySelector('#confirmNewPassword').value

    if (!newPassword || !confirmNewPassword) {
      Swal.showValidationMessage(`Senha não preenchida`)
    } else if (newPassword !== confirmNewPassword) {
      Swal.showValidationMessage(`As senhas informadas não são iguais`)
    }
    return { newPassword: newPassword }
  }
}).then((result) => {
  Swal.fire(`
    newPassword: ${result.value.newPassword}
  `.trim())
})
}


</script>

