<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Deu Pet - Adoção</title>

  <script th:inline="javascript" th:if="${succesMessage}">
     window.onload = () => {
        $('#succesModal').modal('show');
    }
  </script>
</head>
<body>
<div layout:fragment="body">

  <div class="page-header">
    <h3 class="page-title"> Gerenciar Animais </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a th:href="@{/}">Início</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Gerenciar Animais</li>
        </li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="col-12">
            <div class="row">
              <div class="col-md-9">
                <h4 class="card-title">Lista de animais cadastrados</h4>
              </div>

              <div class="col-md-2">
                <a class="btn btn-gradient-primary" th:href="@{/adocao/cadastrar-animal}">
                  Cadastrar Animal</a>
              </div>
            </div>

          </div>
        </div>

        <div class="card-body">
          <div class="col-12">
            <div class="row">
              <div class="accordion" id="accordion" role="tablist">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header" role="tab" id="heading-1">
                      <div class="row">
                        <div class="col-sm-12 col-md-8">
                          <h6 class="mb-0">
                            <a data-toggle="collapse" href="#collapse-1" aria-expanded="false"
                               aria-controls="collapse-1" class="collapsed"> Filtros
                              <i class="mdi mdi-chevron-down"></i>
                            </a>
                          </h6>
                        </div>
                        <div class="col-sm-12 col-md-3 text-right">
                          <div id="order-listing_filter" class="dataTables_filter">
                            <label>
                              <input type="search" id="search-field" class="form-control" placeholder="Pesquisar"
                                     aria-controls="order-listing" onkeyup="searchFildFilter('true')">
                            </label>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div id="collapse-1" class="collapse" role="tabpanel"
                         aria-labelledby="heading-1" data-parent="#accordion" style="">
                      <div class="row">
                        <div class="col-md-12 mx-3">

                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-check form-check-primary">
                                <label class="form-check-label">
                                  <input type="checkbox"
                                         class="form-check-input animal-status"
                                         value="PARA ADOÇÃO"
                                         name="status"
                                         onclick="checkboxFilter('true')">
                                  Para Adoção <i class="input-helper"></i>
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-check form-check-primary">
                                <label class="form-check-label">
                                  <input type="checkbox"
                                         class="form-check-input animal-status"
                                         value="Adotado"
                                         name="status"
                                         onclick="checkboxFilter('true')">
                                  Adotado <i class="input-helper"></i>
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-check form-check-primary">
                                <label class="form-check-label">
                                  <input type="checkbox"
                                         class="form-check-input animal-type"
                                         value="Cachorro"
                                         name="animal"
                                         onclick="checkboxFilter('true')">
                                  Cachorro <i class="input-helper"></i>
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-check form-check-primary">
                                <label class="form-check-label">
                                  <input type="checkbox"
                                         class="form-check-input animal-type"
                                         value="Gato"
                                         name="animal"
                                         onclick="checkboxFilter('true')">
                                  Gato <i class="input-helper"></i>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card-body">
          <div class="table-responsive">
            <table class="table"
                   id="custom-table">
              <thead id="table-head">
              <tr>
                <th> Animal</th>
                <th> Tipo</th>
                <th> Situação</th>
                <th> ID</th>
                <th></th>
              </tr>
              </thead>
              <tbody id="table-body">
              <tr th:each="animal : ${listaAnimal}" id="table-lines">
                <td>
                  <img th:src="${animal.PrimaryImagePath}" class="me-2" alt="image">
                  <span th:text="${animal.nome}">Tibursinho</span>
                </td>
                <td th:text="${animal.tipo}">tipo aqui</td>
                <td th:if="${animal.situacao == 'adotado'}"><label
                  class="badge badge-gradient-success badge-pill">ADOTADO</label></td>
                <td th:if="${animal.situacao == 'para-adocao'}"><label
                  class="badge badge-gradient-info badge-pill">PARA ADOÇÃO</label></td>
                <td th:if="${animal.situacao == 'em-espera'}"><label
                  class="badge badge-gradient-warning badge-pill">EM ESPERA</label></td>
                <td th:text="${animal.id}">id aqui</td>

                <td>
                  <a class="btn btn-gradient-info btn-sm"
                     th:href="@{/adocao/detalhes-animal/{id} (id=${animal.id})}">
                    Detalhes</a>
                </td>
              </tr>
              </tbody>
            </table>

            <div class="alert alert-warning" id="noEntryAlert" role="alert"> Nem um registro encontrado.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="succesModal" tabindex="-1" role="dialog"
       aria-labelledby="succesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
          <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
          <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div>
          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
        </div>

        <h2 class="swal2-title" style="display: block;">Operação realizada com sucesso!</h2>
        <div class="row text-center mt-3">

        </div>

        <div class="modal-body text-right">
          <h5 th:text="${succesMessage}">Error message</h5>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-gradient-danger"
                  data-dismiss="modal">Fechar
          </button>
        </div>


      </div>
    </div>
  </div>

</div>
</body>
</html>
<script src="/resources/js/adoption-table-filter.js"></script>
