<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Deu Pet - Editar Animal</title>

</head>

<body>

<div layout:fragment="body">

    <div class="page-header">
        <h3 class="page-title"> Editar Animal </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Início</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/adocao/gerenciar-animais}">Gerenciar
                    Animais</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/adocao/detalhes-animal}">Detalhes
                    Animais</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Editar Animal</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Dados do Animal</h4>

                    <form th:action="@{/adocao/update}" method="POST"
                          th:object="${animal}">

                        <p class="card-description"> Altere os dados do animal </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Nome</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="inputAnimalName" type="text"
                                               required placeholder="Altera o nome do animal"
                                               th:field="${animal.nome}"/>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Tipo</label>
                                    <div class="col-sm-4">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="typeRadios"
                                                       id="typeRadios1" value="" checked=""> Cachoro </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="typeRadios"
                                                       id="typeRadios2" value="option2"> Gato </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Peso</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="inputAnimalPeso"
                                               placeholder="Insira o peso do animal" th:field="${animal.peso}"/>
                                        <!--                                            <input type="text" class="form-control">-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Sexo</label>
                                    <div class="col-sm-4">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="sexRadios"
                                                       id="sexRadios1" value="" checked=""> Macho </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="sexRadios"
                                                       id="sexRadios2" value="option2"> Fêmea </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Porte</label>
                                    <div class="col-sm-9">

                                        <input class="form-control" id="inputAnimalPorte"
                                               required
                                               placeholder="Insira o porte do animal" th:field="${animal.porte}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Raça</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="inputAnimalRaca"
                                               required
                                               placeholder="Insira o raça do animal" th:field="${animal.raca}"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Pelagem Primária</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="inputAnimalPelagemPrimaria"
                                               required
                                               placeholder="Insira a cor predominante do animal"
                                               th:field="${animal.pelagemPrimaria}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Pelagem Secundária</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="inputAnimalpelagemSecundaria"
                                               required
                                               placeholder="Insira a cor predominante do animal"
                                               th:field="${animal.pelagemSecundaria}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Temperamento</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="inputAnimalTemperamento"
                                               required
                                               placeholder="Insira a cor predominante do animal"
                                               th:field="${animal.temperamento}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-mlx-10">
                                <div class="dropzone-previews" id="dropzonePreview"></div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-gradient-primary mr-2">Salvar</button>
                        <input th:field="${animal.id}" type="hidden">
                        <a class="btn btn-light" th:href="@{/adocao/gerenciar-animais}">Cancelar</a>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
