<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Deu Pet - Cadastrar Animal</title>
  <script th:inline="javascript" th:if="${errorMessage}">
     window.onload = () => {
        $('#errorModal').modal('show');
     }


  </script>
  <script src="/resources/js/img-preview.js"></script>
</head>

<body>

<div layout:fragment="body">

  <div class="page-header">
    <h3 class="page-title"> Cadastrar Animal </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/adocao/gerenciar-animais}">Gerenciar
          Animais</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Cadastrar Animal</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Dados do animal</h4>

          <div id="my-dropzone">
            <form th:action="@{/adocao/create}" method="POST" th:objetc="${animal}"
                  name="formCadastro" enctype='multipart/form-data'>

              <p class="card-description"> Insira os dados do animal a ser cadastrado </p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 ">Nome</label>
                    <div class="col-sm-12">
                      <input class="form-control" id="inputAnimalName" type="text"
                             required placeholder="Insira o nome do animal"
                             th:field="${animal.nome}"/>
                    </div>
                  </div>
                </div>


                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tipo</label>
                    <div class="col-sm-4">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" required class="form-check-input" name="tipo1"
                                 id="tipo1" th:field="*{animal.tipo}" value="Cachorro"
                                 checked="Cachorro">
                          Cachorro </label>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" required class="form-check-input" name="tipo2"
                                 id="tipo2" th:field="*{animal.tipo}" value="Gato"
                                 checked="Gato">
                          Gato </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4">Peso</label>
                    <div class="col-sm-12">
                      <input class="form-control" required id="inputAnimalPeso"
                             placeholder="Insira o peso do animal" th:field="${animal.peso}"/>
                      <!--                                            <input type="text" class="form-control">-->
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Sexo</label>
                    <div class="col-sm-4">
                      <div class="form-check">
                        <label class="form-check-label">


                          <input type="radio" required class="form-check-input" name="sexo1"
                                 id="sexo1" th:field="*{animal.sexo}" value="Macho"
                                 checked="Macho">
                          Macho </label>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" required class="form-check-input" name="sexo2"
                                 id="sexo2" th:field="*{animal.sexo}" value="Fêmea"
                                 checked="Fêmea">
                          Fêmea </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4">Porte</label>
                    <div class="col-sm-12">

                      <input class="form-control" id="inputAnimalPorte"
                             required
                             placeholder="Insira o porte do animal" th:field="${animal.porte}"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4">Raça</label>
                    <div class="col-sm-12">
                      <input class="form-control" id="inputAnimalRaca"
                             required
                             placeholder="Insira o raça do animal" th:field="${animal.raca}"/>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row"></div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-6">Pelagem primária</label>
                    <div class="col-sm-12">
                      <input class="form-control" id="inputAnimalPelagemPrimaria"
                             required
                             placeholder="Insira a cor predominante do animal"
                             th:field="${animal.pelagemPrimaria}"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-6">Pelagem secundária</label>
                    <div class="col-sm-12">
                      <input class="form-control" id="inputAnimalpelagemSecundaria"
                             required
                             placeholder="Insira a cor predominante do animal"
                             th:field="${animal.pelagemSecundaria}"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4">Temperamento</label>
                    <div class="col-sm-12">
                      <input class="form-control" id="inputAnimalTemperamento"
                             required
                             placeholder="Insira a cor predominante do animal"
                             th:field="${animal.temperamento}"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4">Status</label>
                    <div class="col-sm-12">
                      <select class="form-control form-control-lg" th:field="${animal.situacao}">
                        <option value="espera">Em Espera</option>
                        <option value="adocao">Para Adoção</option>
                        <option value="adotado">Adotado</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="border-bottom mb-3"></div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">

                    <div class="col-md-6">
                      <div class="row">
                        <h4 class="card-title">Selecione as fotos do animal:</h4>
                        <p class="card-description"> Você pode selecionar até 5 imagens. </p>
                        <div class="col-md-8">
                          <input id="files" name="file" type="file" multiple accept="image/jpg, image/jpeg, image/png"
                                 hidden/>
                          <label class="btn btn-outline-danger btn-icon-text " for="files">
                            <i class="mdi mdi-upload btn-icon-prepend"></i>
                            Carregar
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-10">
                          <div class="form-group row" id="result">
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="row">

              </div>


              <div>
                <div>
                  <button type="submit" class="btn btn-gradient-primary mr-2" id="submit-all">Cadastrar</button>
                  <a class="btn btn-light" th:href="@{/adocao/gerenciar-animais}">Cancelar</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>


      <!--MODAL DE ERRO-->
      <div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
           aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="swal2-icon swal2-error swal2-icon-show"
                 style="display: flex;">
                    <span class="swal2-x-mark">
                    <span class="swal2-x-mark-line-left"></span>
                    <span class="swal2-x-mark-line-right"></span>
                    </span>
            </div>

            <h2 class="swal2-title" style="display: block;">Erro ao realizar operação!</h2>
            <div class="row text-center mt-3">

            </div>

            <div class="modal-body text-right">
              <h5 th:text="${errorMessage}">Error message</h5>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-gradient-danger"
                      data-dismiss="modal">Fechar
              </button>
            </div>


          </div>
        </div>
      </div>

      <!--MODAL DE ERRO-->
      <div class="modal fade" id="errorImgModal" tabindex="-1" role="dialog"
           aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="swal2-icon swal2-error swal2-icon-show"
                 style="display: flex;">
                    <span class="swal2-x-mark">
                    <span class="swal2-x-mark-line-left"></span>
                    <span class="swal2-x-mark-line-right"></span>
                    </span>
            </div>

            <h2 class="swal2-title" style="display: block;">Erro ao realizar operação!</h2>
            <div class="row text-center mt-3">

            </div>

            <div class="modal-body text-right">
              <h5>Você deve adicionar até 5 imagens apenas.</h5>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-gradient-danger"
                      data-dismiss="modal">Fechar
              </button>
            </div>


          </div>
        </div>
      </div>


    </div>


  </div>
</div>

</body>

</html>
<script>

	                function handleFileSelect(evt) {
	                        var files = evt.target.files;

	                        if (files.length <= 5) {
	                        	console.log('opa tem menos');
		                   	} else {
		                		console.log('opa tem mais q 5');
		                		document.getElementById("files").value = "";
                        $('#errorImgModal').modal('show');
	 	               		}
	                }

	                document.getElementById('files').addEventListener('change', handleFileSelect, false);













</script>
