<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Deu Pet - Detalhes da Instituição</title>

  <script src="/resources/js/validate-password.js"></script>
  <script src="/resources/js/change-img.js"></script>
  <script th:inline="javascript" th:if="${errorMessage}">
     window.onload = () => {
        $('#errorModal').modal('show');
    }


  </script>
  <script th:inline="javascript" th:if="${succesMessage}">
     window.onload = () => {
        $('#succesModal').modal('show');
    }


  </script>
</head>
<body>

<div layout:fragment="body">

  <div class="page-header">
    <h3 class="page-title"> Informações da instituição </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a
          th:href="@{/instituicao/gerenciar-instituicoes}">Gerenciar
          Instituições</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes da Instituição</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="border-bottom text-center">
                <div class="col-sm-12">
                  <img th:src="${img}" alt="profile"
                       class="img-fluid rounded mb-3 w-25">
                </div>
                <div class="col-lg-11 mt-1" >
                  <div class="d-flex justify-content-end mb-1">
                    <button type="button" class="btn btn-gradient-info btn-sm"
                            data-toggle="modal"
                            data-target="#imageModal">
                      Alterar
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-lg-8">
                <div class="d-flex justify-content-between">
                  <div>
                    <h3 th:text="${instituicao.nome}">Sociedade Protetora dos Animais</h3>
                    <div class="d-flex align-items-center">
                      <h5 class="mb-0 mr-2 text-muted"
                          th:text="${cidade.nome} + ' - ' + ${cidade.uf}"> Nome cidade e UF </h5>
                    </div>
                    <div class="d-flex align-items-center">
                      <h5 class="mb-0 mr-2 text-muted">Brasil</h5>
                    </div>
                  </div>
                </div>
              </div>

              <!--MODAL PARA ALTERACAO DE IMAGEM-->
              <div class="modal fade" id="imageModal" tabindex="-1" role="dialog"
                   aria-labelledby="imageModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="d-flex justify-content-center bd-highlight mb-3">
                          <div class="d-flex align-items-center mt-4">
                            <img th:src="${img}" alt="profile" id="imagem" class="img-fluid rounded">
                          </div>
                        </div>
                      </div>
                    </div>


                    <h2 class="swal2-title" id="swal2-title" style="display: block;">Alterar imagem</h2>
                    <div class="row text-center mt-3">
                      <p>Selecione uma uma imagem para carregar</p>
                    </div>

                    <div class="modal-body">

                      <!--FORMULARIO-->
                      <form th:action="@{/files/update-instituicao}" th:object="${instituicao}" method="POST" name="formCadastro"
                             enctype='multipart/form-data'>

                        <div class="col-md-12">
                          <div class="form-group row">

                            <div class="col-md-12">
                              <div class="row">

                                <div class="col-md-12 text-center mt-3">
                                  <input id="files" name="file" type="file" accept="image/jpg, image/jpeg, image/png"
                                         hidden/>
                                  <label class="btn btn-outline-info btn-icon-text " for="files">
                                    <i class="mdi mdi-upload btn-icon-prepend"></i>
                                    Carregar
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <input th:field="${instituicao.id}" id="idinstituicao" name="idinstituicao" type="hidden">
                        <input th:field="${instituicao.tipo}" id="tipo" name="tipo" type="hidden">
                        <div class="modal-footer">
                          <button type="button" class="btn btn-gradient-danger"
                                  data-dismiss="modal">Cancelar
                          </button>
                          <button class="btn btn-gradient-success" id="teste"
                                  type="submit">Alterar
                          </button>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-8 mt-5 ">
                <div class="d-flex justify-content-between mb-1">
                  <a class="btn btn-sm btn-gradient-primary btn-block"
                     th:href="@{/instituicao/editar-instituicao/{id} (id=${instituicao.id})}">
                    Editar informações</a>
                </div>
              </div>

            </div>

            <div class="col-lg-6">
              <div class="py-4">
                <div class="border-bottom">
                  <p class="lead">
                    <span class="float-left"> Detalhes da instituição </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left"> Situação </span>
                    <span class="float-right text-muted"
                          th:if="${instituicao.situacao == true}"> Ativo </span>
                    <span class="float-right text-muted"
                          th:if="${instituicao.situacao == False}"> Desativo </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left"> Data de Criação </span>
                    <span class="float-right text-muted" th:text="${instituicao.dataCadastro}"> 01/10/2022 </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left"> CNPJ / CPF</span>
                    <span class="float-right text-muted" th:text="${instituicao.cpfCnpj}"> 00.000.000/0001-00 </span>
                  </p>
                </div>
                <div class="border-bottom">
                  <p class="card-description"> Informações de Contato </p>
                  <p class="clearfix">
                    <span class="float-left"> E-mail </span>
                    <span class="float-right text-muted" th:text="${instituicao.email}"> socproanimais@mail.com </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left"> Telefone/Celualar </span>
                    <span class="float-right text-muted"
                          th:text="${instituicao.celularTelefone}"> (35) 9 9999-9999 </span>
                  </p>
                </div>
                <p class="card-description"> Endereço </p>
                <p class="clearfix">
                  <span class="float-left"> Logradouro </span>
                  <span class="float-right text-muted" th:text="${instituicao.logradouro}"> Rua Esperança </span>
                </p>
                <p class="clearfix">
                  <span class="float-left"> Número </span>
                  <span class="float-right text-muted" th:text="${instituicao.numero}"> 70 </span>
                </p>
                <p class="clearfix">
                  <span class="float-left"> CEP </span>
                  <span class="float-right text-muted" th:text="${instituicao.cep}"> 37540-000 </span>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--MODAL DE ERRO-->
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
       aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="swal2-icon swal2-error swal2-icon-show"
             style="display: flex;">
                    <span class="swal2-x-mark">
                    <span class="swal2-x-mark-line-left"></span>
                    <span class="swal2-x-mark-line-right"></span>
                    </span>
        </div>

        <h2 class="swal2-title" style="display: block;">Erro ao realizar operação!</h2>
        <div class="row text-center mt-3">

        </div>

        <div class="modal-body text-right">
          <h5 th:text="${errorMessage}">Error message</h5>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-gradient-danger"
                  onclick="clearErrorMessage();"
                  data-dismiss="modal">Fechar
          </button>
        </div>


      </div>
    </div>
  </div>

  <!--MODAL DE CONFIRMAÇÃO DE CADASTRO-->
  <div class="modal fade" id="succesModal" tabindex="-1" role="dialog"
       aria-labelledby="succesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
          <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
          <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div>
          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
        </div>

        <h2 class="swal2-title" style="display: block;">Operação realizada com sucesso!</h2>
        <div class="row text-center mt-3">

        </div>

        <div class="modal-body text-right">
          <h5 th:text="${succesMessage}">Succes message</h5>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-gradient-danger"
                  data-dismiss="modal">Fechar
          </button>
        </div>


      </div>
    </div>
  </div>
</div>

</body>
</html>
