<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Deu Pet - Instituição</title>
  <script></script>
</head>
<body>
<div layout:fragment="body">
  <div class="page-header">
    <h3 class="page-title"> Gerenciar Instituições </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a th:href="@{/}">Início</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Gerenciar Instituições</li>
        </li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="col-12">
            <div class="row">
              <div class="col-md-9">
                <h4 class="card-title">Lista de instituições cadastradas</h4>
              </div>

              <div class="col-md-2">
                <a class="btn btn-gradient-primary btn-sm"
                   th:href="@{/instituicao/cadastrar-instituicao}">
                  Cadastrar Instituições</a>
              </div>
            </div>
            <div class="row">
              <div class="accordion" id="accordion" role="tablist">
                <div class="col-12">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th> Instituição</th>
                <th> Email</th>
                <th> Telefone/Celular</th>
                <th> ID de registro</th>
                <th></th>
              </tr>
              </thead>
              <tbody id="myTable">
              <tr th:each="institutions : ${institutions}">
                <td>
                  <img src="/resources/images/instituicoes/instituicao1.png" class="me-2" alt="image">
                  <span th:text="${institutions.nome}">nome instituicao</span>
                </td>
                <td th:text="${institutions.email}"> email</td>
                <td th:text="${institutions.celularTelefone}"> telefone/celular</td>
                <td th:text="${institutions.id}"> id</td>
                <td>
                  <a class="btn btn-gradient-info btn-sm"
                     th:href="@{/instituicao/detalhes/{id} (id=${institutions.id})}">
                    Detalhes</a>

                  <a th:href="@{/instituicao/delete/{id} (id=${institutions.id})}"
                     class="btn btn-gradient-dark btn-sm"> Excluir</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>


</script>
