<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Deu Pet - Detalhes da campanha</title>
  <script src="/resources/js/change-img.js"></script>

</head>
<body>

<div layout:fragment="body">

  <div class="page-header">
    <h3 class="page-title"> Informações da campanha </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">

        <li class="breadcrumb-item"><a th:href="@{/}">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/campanhas/gerenciar-campanhas}">Gerenciar
          Capanhas</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes Campanha</li>

      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="border-bottom text-center pb-4">
                <div class="col-sm-12">
                  <img th:src="${img}" alt="imagem da campanha"
                       class="img-fluid rounded mb-3 w-75 ">
                </div>
                <div class="col-lg-11 mt-1" >
                  <div class="d-flex justify-content-end mb-1">
                    <button type="button" class="btn btn-gradient-info btn-sm"
                            data-toggle="modal"
                            data-target="#imageModal">
                      Alterar
                    </button>
                  </div>
                </div>
              </div>

              <!--MODAL PARA ALTERACAO DE IMAGEM-->
              <div class="modal fade" id="imageModal" tabindex="-1" role="dialog"
                   aria-labelledby="imageModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="d-flex justify-content-center bd-highlight mb-3">
                          <div class="d-flex align-items-center mt-4">
                            <img th:src="${img}" alt="profile" id="imagem" class="img-fluid rounded">
                          </div>
                        </div>
                      </div>
                    </div>


                    <h2 class="swal2-title" id="swal2-title" style="display: block;">Alterar imagem</h2>
                    <div class="row text-center mt-3">
                      <p>Selecione uma uma imagem para carregar</p>
                    </div>

                    <div class="modal-body">

                      <!--FORMULARIO-->
                      <form th:action="@{/files/update-campaign}" th:object="${campanha}" method="POST" name="formCadastro"
                            enctype='multipart/form-data'>

                        <div class="col-md-12">
                          <div class="form-group row">

                            <div class="col-md-12">
                              <div class="row">

                                <div class="col-md-12 text-center mt-3">
                                  <input id="files" name="file" type="file" accept="image/jpg, image/jpeg, image/png"
                                         hidden/>
                                  <label class="btn btn-outline-info btn-icon-text " for="files">
                                    <i class="mdi mdi-upload btn-icon-prepend"></i>
                                    Carregar
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <input th:field="${campanha.id}" id="idinstituicao" name="idinstituicao" type="hidden">
                        <div class="modal-footer">
                          <button type="button" class="btn btn-gradient-danger"
                                  data-dismiss="modal">Cancelar
                          </button>
                          <button class="btn btn-gradient-success" id="teste"
                                  type="submit">Alterar
                          </button>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-8">
                <div class="d-flex justify-content-between">
                  <div>
                    <h3 th:text="${campanha.titulo}">Titulo</h3>
                    <div class="d-flex align-items-center">
                      <h5 class="mb-0 mr-2 text-muted">Santa Rita do Sapucaí - MG </h5>
                    </div>
                    <div class="d-flex align-items-center">
                      <h5 class="mb-0 mr-2 text-muted">Brasil</h5>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-8 mt-5 ">
                <div class="d-flex justify-content-between mb-1">

                  <a class="btn btn-sm btn-gradient-primary btn-block"
                     th:href="@{/campanhas/editar-campanha/{id} (id=${campanha.id})}">
                    Editar informações</a>
                </div>
              </div>


            </div>

            <div class="col-lg-6">
              <div class="py-4">
                <div class="border-bottom">
                  <p class="lead">
                    <span class="float-left"> Titulo </span>
                    <span class="float-right text-muted"
                          th:text="${campanha.titulo}"> Titulo </span>
                  </p>
                  <p class="lead">
                    <span class="float-left"> Descrição </span>
                    <span class="float-right text-muted"
                          th:text="${campanha.descricao}"> Descrição </span>
                  </p>
                  <p class="lead">
                    <span class="float-left"> Requisitos </span>
                    <span class="float-right text-muted" th:text="${campanha.requisitos}"> Requisitos </span>
                  </p>
                  <p class="lead">
                    <span class="float-left"> Data Inicio </span>
                    <span class="float-right text-muted"
                          th:text="${campanha.dataInicio}"> data_inicio </span>
                  </p>
                  <p class="lead">
                    <span class="float-left"> Data fim </span>
                    <span class="float-right text-muted"
                          th:text="${campanha.dataFim}"> Data fim </span>
                  </p>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>


</body>
</html>
